main {
    background-color: whitesmoke;
    padding-top: 0px;
    padding-left: 35px;
    padding-right: 5px;
    padding-bottom: 0px;

}

div {
    padding: 8px;
  }

  p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
  }

.flex-container {
    background-color: lightblue;
    display: flex;
    height: 85px;
    justify-content: center;
}

p {
    font-family: verdana;
    font-size: 15px;
    font-style: normal;
    margin-left: 10px;
    margin-left: 5px;
    text-align: left;
    outline-color: orange;
}

h1 {
    text-align: center;
}

title {
    text-align: center;
}

.NavBar {
    float: left;
    height: 100vh;
    width: 15%;
    background-color: rgb(85, 100, 107);
    color: orange;
    border-style: solid;
    border-color: lightblue;
    border-width: 5px;
}